unidecode
feedparser
requests_file
pycurl
watchdog

## required to read video duration
pytube
pytubefix

## version (on RPi) does not work, because is too old
youtube-dl

yt-dlp
filetype

# pydub       # conversion from mp4 to mp3

selenium
